img {
    border-color: black;
    border-width: 4px;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}